{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="user">
  <div class="container">
    <h1>JAJUPL MANAGER</h1>
    <h2>MIN JAE KIM</h2>
    <p>TEL: 010-2386-2926</p>
    <p>E-MAIL: jajupl30501@gmail.com</p>
    <p>자주플이라는 웹사이트를 만들게 된 동기: 요즘 자기주도학습이 중요해지고 있는 추세이고, 학교 다니면서 많은 친구들이 시험 계획을 짜는 것을 힘들어하는 것을 보았다. 그래서 시험계획만 세워주고 나머지는 자신의 힘으로 할 수 있게 해주는 프로그램이 있었으면 좋겠다고 생각하게 되어 이 웹사이트를 만들게 되었다.</p>
    <p>왜 자주플인가? 자기주도플래너의 앞자를 따서 만들었다. 영어 스펠링은 JAJUPOOL로 지었다. 자기주도학습을 할 수 있는 POOL(공간)을 제공한다는 의미이다. 자주플에 자주라는 단어도 들어가 있어서 메인 색상도 자주색으로 정했다.</p>
  </div>
</div>
{% endblock %}
