{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/user.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="user">
  <div class="container">
    <h3>내 페이지</h3>
    <p>유저네임 {{ request.user.username }}</p>
    <p>이메일 {{ request.user.email }}<p>
    <ul class="list-group">
     {% for order in orders %}
      <li class="list-group-item">
        {{ order.purpose }}
      </li>
      {% endfor %}
    </ul>
    <li class="list-group-item">
      <span class="name">{{ order.name }}</span>
      <span class="purpose">{{ order.purpose}}</span>
      <span class="period">{{ order.period }}</span>
      <span class="schedule">{{ order.schedule }}</span>
      <span class="email">{{ order.email }}</span>
    </li>
  </div>
</div>




{% endblock %}
